<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List</h1>
	<form action="/todos" method="post">
		<input type="text" name="description">
		<button type="submit">Add</button>
	</form>
  </body>
</html>
