<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List</h1>
	<form action="/todos" method="post">
		<input type="text" name="description">
		<button type="submit">Add</button>
	</form>
		<% for (let i = 0; i < todos.length; i++) { %>
	  		<h1><%= todos[i].description %></h1>
	  		<button id="delete-btn">DONE</button>
	  </form>
	<% } %>
	  	
	  	



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/javascripts/main.js"></script>
  </body>
</html>
